.heder{
    background-color: #70BE5B;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10px 0px;
   

}
.heder_logo{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 30%;
}
.logoi_mej{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #009900;
   
    
}
.dexatun{
    color: #009900;
    margin-left: 10px;
    font-size: 30px;
}
.heder_menu{
    color:green;
    font-size: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heder_menu>b{
    cursor: pointer;
}
.heder_menu>b:hover{
    color: #0d470d;
}


/* MEDIA */

@media screen  and (max-width:800px){
    .logo{
        width: 40%;
    }
    
    
}
@media screen  and (max-width:400px){
    .logo{
        width:70%;
    }
    .heder{
        background-color: #70BE5B;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0px;
    
    }
    .dexatun{
        color: #009900;
        margin-left: 10px;
        font-size: 27px;
    }
}

